<%- include('../includes/_top.ejs') %>
<%- include('../includes/_header.ejs') %>
<%- include('../includes/_aside.ejs') %>





<!-- Start header Area -->
<section id="hero-area" class="header-area header-eight">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="header-content">
          <h1>Welcome to Grow</h1>
          <p style="margin-top: 10px !important;">
            Innovation is our DNA
          </p>
          <div class="button" style="margin-top: 15px !important;">
            <a href="#about" class="btn primary-btn">Get Started</a>


            <a href="javascript:void(0)" class="glightbox video-button disp-0">
              <span class="btn icon-btn rounded-full">
                <i class="lni lni-play"></i>
              </span>
              <span class="text">Watch Intro</span>
            </a>


          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="header-image">
          <img src="https://res.cloudinary.com/growng/image/upload/v1647508747/assets/growlanding_h9zllu.svg" alt="#" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End header Area -->




<!--====== ABOUT FIVE PART START ======-->

<section id="about" class="about-area about-five">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-image-five">
          <svg class="shape" width="106" height="134" viewBox="0 0 106 134" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="31" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA" />
            <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="103" r="1.66667" fill="#DADADA" />
            <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA" />
            <circle cx="104" cy="132" r="1.66667" fill="#DADADA" />
          </svg>
          <img src="https://res.cloudinary.com/growng/image/upload/v1647511640/assets/goodteam_ygjlwq.svg"
            alt="about" />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="about-five-content">
          <h6 class="small-title text-lg">About Us</h6>
          <!-- <h2 class="main-title fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2> -->
          <div class="about-five-tab">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-who-tab" data-bs-toggle="tab" data-bs-target="#nav-who"
                  type="button" role="tab" aria-controls="nav-who" aria-selected="true">Who We Are</button>
                <button class="nav-link" id="nav-vision-tab" data-bs-toggle="tab" data-bs-target="#nav-vision"
                  type="button" role="tab" aria-controls="nav-vision" aria-selected="false">our mission</button>
                <button class="nav-link" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#nav-history"
                  type="button" role="tab" aria-controls="nav-history" aria-selected="false">our vision</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
                <p class="text-center">We are a customer-focused organization pioneering digital solutions for
                  agricultural extension
                  delivery in Nigeria.</p>
              </div>
              <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                <p class="text-center">To constantly disrupt and reinvent agricultural solutions using technology as the
                  tool.
                </p>
              </div>
              <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
                <p class="text-center">To become the go-to platform for on-demand extension services and operational
                  support for small, and
                  medium-scale farmers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
</section>

<!--====== ABOUT FIVE PART ENDS ======-->

<!-- Start Cta Area -->
<section id="call-action" class="call-action">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
        <div class="inner-content">
          <h2 class="fw-bold" style="margin-bottom: 15px;">Our Solution </h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">



      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
        <div class="inner-content">
          <h3 style="margin-bottom: 10px !important; color: white">Extension Service Delivery and support.</h3>
          <p class="text-center">
            Grow offers farmers seamless, curated, and on-demand access to extension information services and
            productivity tools to manage their operations. We combine information and technology to solve these pressing
            problems in a simple, and easy-to-use way for farmers.
          </p>
          <!-- <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">Get Started</a>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Area -->


<!-- ===== service-area start ===== -->
<section id="services" class="services-area services-eight">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>&nbsp;</h6>
            <!-- <h2 class="fw-bold">Career</h2> -->
            <h2 class="fw-bold">We are hiring</h2>
            <!-- <p>
              
            </p> -->
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>




  <!--======  End Section Title Five ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">

        <center>
          <div class="single-services">

            <div class="service-icon">
              <i class="lni lni-shortcode"></i>
            </div>


            <div class="service-content">
              <h4 class="text-center">Mobile Developer</h4>
              <p class="text-center">
                We are looking to recruit innovative and talented Mid-Level Mobile Developers to join our founding
                team
                to explore the use of technology to build creative solutions for agriculture.
                Candidates must be nimble and industrious with a knack for fast learning and execution.
              </p>
            </div>
            <hr>

            <a href="https://docs.google.com/document/d/1S8So6K_x7urZ3VvorX_ihounL2AhZu0whWE2-IIfsT0" target="_blank"
              class="btn btn-success btn-block"
              style="background-color: #02bfa6 !important; font-family: Raleway;">Apply here</a>


          </div>

        </center>


      </div>
      <div class="col-lg-4 col-md-6">

        <center>
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-bootstrap"></i>
            </div>
            <div class="service-content">
              <h4>Product Designer</h4>
              <p>
                We are looking to recruit innovative and talented Product Designer to join our founding team
                to explore the use of technology to build creative solutions for agriculture.
                Candidates must be nimble and industrious with a knack for fast learning and execution.
              </p>
            </div>
            <hr>
            <a href="https://docs.google.com/document/d/1X0BYInyucZUjAVe1CjjqvtCNs4EMOZ16duJsm_XBa_w" target="_blank"
              class="btn btn-success btn-block"
              style="background-color: #02bfa6 !important; font-family: Raleway;">Apply here</a>
          </div>
        </center>


      </div>
      <div class="col-lg-4 col-md-6">

        <center>
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-capsule"></i>
            </div>
            <div class="service-content">
              <h4>Digital Designer</h4>
              <p>
                We are looking to recruit innovative and talented Digital Designer to join our founding team
                to explore the use of technology to build creative solutions for agriculture.
                Candidates must be nimble and industrious with a knack for fast learning and execution.
              </p>
            </div>
            <hr>
            <a href="https://docs.google.com/document/d/1iHCkRX7ZXAqSovmW9gO6jS1D-ciRuyy4W8EDHMEEDc4" target="_blank"
              class="btn btn-success btn-block"
              style="background-color: #02bfa6 !important; font-family: Raleway;">Apply here</a>
          </div>

        </center>


      </div>
      <div class="col-lg-4 col-md-6 disp-0">

        <center>
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-capsule"></i>
            </div>
            <div class="service-content">
              <h4>Agronomist</h4>
              <p>
                We are looking to recruit innovative and talented Agronomist to join our founding team
                to explore the use of technology to build creative solutions for agriculture.
                Candidates must be nimble and industrious with a knack for fast learning and execution.
              </p>
            </div>
            <hr>
            <a target="_blank" href="https://docs.google.com/document/d/1cS5bgbGjadB-5wj8aNkWzV03tpcv9S7sNFFCE9yItfk"
              class="btn btn-success btn-block"
              style="background-color: #02bfa6 !important; font-family: Raleway;">Apply here</a>
          </div>

        </center>


      </div>
      <div class="col-lg-4 col-md-6">


        <center>
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-shortcode"></i>
            </div>
            <div class="service-content">
              <h4>Machine Learning Engineer</h4>
              <p>
                We are looking to recruit innovative and talented Machine Learning Engineer to join our founding
                team
                to explore the use of technology to build creative solutions for agriculture.
                Candidates must be nimble and industrious with a knack for fast learning and execution.
              </p>
            </div>
            <hr>
            <a href="https://docs.google.com/document/d/1VnBypnbfbt7V3OmTgFQVqGTBQxaK6bt8CD3v9v22sNw" target="_blank"
              class="btn btn-success btn-block"
              style="background-color: #02bfa6 !important; font-family: Raleway;">Apply here</a>
          </div>

        </center>


      </div>



    </div>
  </div>
</section>
<!-- ===== service-area end ===== -->





<!-- Start Pricing  Area -->
<section id="pricing" class="pricing-area pricing-fourteen disp-0">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>Pricing</h6>
            <h2 class="fw-bold">Pricing & Plans</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!--======  End Section Title Five ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="pricing-style-fourteen">
          <div class="table-head">
            <h6 class="title">Starter</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
              <div class="price">
                <h2 class="amount">
                  <span class="currency">$</span>0<span class="duration">/mo </span>
                </h2>
              </div>
          </div>

          <div class="light-rounded-buttons">
            <a href="javascript:void(0)" class="btn primary-btn-outline">
              Start free trial
            </a>
          </div>

          <div class="table-content">
            <ul class="table-list">
              <li> <i class="lni lni-checkmark-circle"></i> Cras justo odio.</li>
              <li> <i class="lni lni-checkmark-circle"></i> Dapibus ac facilisis in.</li>
              <li> <i class="lni lni-checkmark-circle deactive"></i> Morbi leo risus.</li>
              <li> <i class="lni lni-checkmark-circle deactive"></i> Excepteur sint occaecat velit.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="pricing-style-fourteen middle">
          <div class="table-head">
            <h6 class="title">Exclusive</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
              <div class="price">
                <h2 class="amount">
                  <span class="currency">$</span>99<span class="duration">/mo </span>
                </h2>
              </div>
          </div>

          <div class="light-rounded-buttons">
            <a href="javascript:void(0)" class="btn primary-btn">
              Start free trial
            </a>
          </div>

          <div class="table-content">
            <ul class="table-list">
              <li> <i class="lni lni-checkmark-circle"></i> Cras justo odio.</li>
              <li> <i class="lni lni-checkmark-circle"></i> Dapibus ac facilisis in.</li>
              <li> <i class="lni lni-checkmark-circle"></i> Morbi leo risus.</li>
              <li> <i class="lni lni-checkmark-circle deactive"></i> Excepteur sint occaecat velit.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="pricing-style-fourteen">
          <div class="table-head">
            <h6 class="title">Premium</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
              <div class="price">
                <h2 class="amount">
                  <span class="currency">$</span>150<span class="duration">/mo </span>
                </h2>
              </div>
          </div>

          <div class="light-rounded-buttons">
            <a href="javascript:void(0)" class="btn primary-btn-outline">
              Start free trial
            </a>
          </div>

          <div class="table-content">
            <ul class="table-list">
              <li> <i class="lni lni-checkmark-circle"></i> Cras justo odio.</li>
              <li> <i class="lni lni-checkmark-circle"></i> Dapibus ac facilisis in.</li>
              <li> <i class="lni lni-checkmark-circle"></i> Morbi leo risus.</li>
              <li> <i class="lni lni-checkmark-circle"></i> Excepteur sint occaecat velit.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Pricing  Area -->









<!-- Start Latest News Area -->
<div id="blog" class="latest-news-area section disp-0">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>latest news</h6>
            <h2 class="fw-bold">Latest News & Blog</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!--======  End Section Title Five ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Single News -->
        <div class="single-news">
          <div class="image">
            <a href="javascript:void(0)"><img class="thumb" src="assets/images/blog/1.jpg" alt="Blog" /></a>
            <div class="meta-details">
              <img class="thumb" src="assets/images/blog/b6.jpg" alt="Author" />
              <span>BY TIM NORTON</span>
            </div>
          </div>
          <div class="content-body">
            <h4 class="title">
              <a href="javascript:void(0)"> Make your team a Design driven company </a>
            </h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard.
            </p>
          </div>
        </div>
        <!-- End Single News -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Single News -->
        <div class="single-news">
          <div class="image">
            <a href="javascript:void(0)"><img class="thumb" src="assets/images/blog/2.jpg" alt="Blog" /></a>
            <div class="meta-details">
              <img class="thumb" src="assets/images/blog/b6.jpg" alt="Author" />
              <span>BY TIM NORTON</span>
            </div>
          </div>
          <div class="content-body">
            <h4 class="title">
              <a href="javascript:void(0)">
                The newest web framework that changed the world
              </a>
            </h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard.
            </p>
          </div>
        </div>
        <!-- End Single News -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Single News -->
        <div class="single-news">
          <div class="image">
            <a href="javascript:void(0)"><img class="thumb" src="assets/images/blog/3.jpg" alt="Blog" /></a>
            <div class="meta-details">
              <img class="thumb" src="assets/images/blog/b6.jpg" alt="Author" />
              <span>BY TIM NORTON</span>
            </div>
          </div>
          <div class="content-body">
            <h4 class="title">
              <a href="javascript:void(0)">
                5 ways to improve user retention for your startup
              </a>
            </h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's
              standard.
            </p>
          </div>
        </div>
        <!-- End Single News -->
      </div>
    </div>
  </div>
</div>
<!-- End Latest News Area -->



<!-- Start Brand Area -->
<div id="clients" class="brand-area section disp-0">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>Meet our Clients</h6>
            <h2 class="fw-bold">Our Awesome Clients</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!--======  End Section Title Five ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="clients-logos">
          <div class="single-image">
            <img src="assets/images/client-logo/graygrids.svg" alt="Brand Logo Images" />
          </div>
          <div class="single-image">
            <img src="assets/images/client-logo/uideck.svg" alt="Brand Logo Images" />
          </div>
          <div class="single-image">
            <img src="assets/images/client-logo/ayroui.svg" alt="Brand Logo Images" />
          </div>
          <div class="single-image">
            <img src="assets/images/client-logo/lineicons.svg" alt="Brand Logo Images" />
          </div>
          <div class="single-image">
            <img src="assets/images/client-logo/tailwindtemplates.svg" alt="Brand Logo Images" />
          </div>
          <div class="single-image">
            <img src="assets/images/client-logo/ecomhtml.svg" alt="Brand Logo Images" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Brand Area -->




<!-- ========================= contact-section start ========================= -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="contact-item-wrapper">
          <div class="row">
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="lni lni-phone"></i>
                </div>
                <div class="contact-content">
                  <h4>Contact</h4>
                  <p>For inquiries: <a href="mailto:info@growng.company">info@growng.company</a></p>
                  <p>For applications: <a href="mailto:recruitment@growng.company">recruitment@growng.company</a> </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="lni lni-map-marker"></i>
                </div>
                <div class="contact-content">
                  <h4>Address</h4>
                  <p>10A, Munirat Abike Close, Baruwa, Iyana-Ipaja,</p>
                  <p>Lagos State.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="lni lni-alarm-clock"></i>
                </div>
                <div class="contact-content">
                  <h4>Schedule</h4>
                  <p>10 Hours / 5 Days Open</p>
                  <p>Office time: 8:00 AM - 5:00 PM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 disp-0">
        <div class="contact-form-wrapper">
          <div class="row">
            <div class="col-xl-10 col-lg-8 mx-auto">
              <div class="section-title text-center">
                <span> Get in Touch </span>
                <h2>
                  Ready to Get Started
                </h2>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus
                  quiblanditiis praesentium
                </p>
              </div>
            </div>
          </div>
          <form action="#" class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="name" id="name" placeholder="Name" required />
              </div>
              <div class="col-md-6">
                <input type="email" name="email" id="email" placeholder="Email" required />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="phone" id="phone" placeholder="Phone" required />
              </div>
              <div class="col-md-6">
                <input type="text" name="subject" id="email" placeholder="Subject" required />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <textarea name="message" id="message" placeholder="Type Message" rows="5"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="button text-center rounded-buttons">
                  <button type="submit" class="btn primary-btn rounded-full">
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= contact-section end ========================= -->






<%- include('../includes/_footer.ejs') %>

<%- include('../includes/_bottom.ejs') %>